In [15]:
import pandas as pd

In [16]:
month_df = pd.DataFrame()
df = pd.DataFrame()
for i in range(1, 13):
    if len(str(i)) == 1:
        mon = "0" + str(i) 
    else:
        mon = str(i)
    month_df = pd.read_csv("./data/CALL_NDELIVERY_{}MONTH.csv".format(mon))
    df = df.append(month_df)

In [17]:
df.head()

         일자 요일  시간대           업종     시도   시군구    읍면동  통화건수
0  20190101  화    0  음식점-족발/보쌈전문  서울특별시   서초구    방배동     5
1  20190101  화    0  음식점-족발/보쌈전문  서울특별시   중랑구    면목동     5
2  20190101  화    0  음식점-족발/보쌈전문  서울특별시   종로구    인의동     5
3  20190101  화    0  음식점-족발/보쌈전문  서울특별시   성동구  성수동2가     5
4  20190101  화    0  음식점-족발/보쌈전문  서울특별시  서대문구    대현동     5

In [18]:
df.sort_values(["일자", "시간대"], inplace=True, ignore_index=True)
df.head()

         일자 요일  시간대           업종     시도   시군구    읍면동  통화건수
0  20181001  월    0  음식점-족발/보쌈전문  서울특별시   강동구     길동     5
1  20181001  월    0  음식점-족발/보쌈전문  서울특별시   광진구    광장동     5
2  20181001  월    0  음식점-족발/보쌈전문  서울특별시  동대문구    제기동     5
3  20181001  월    0  음식점-족발/보쌈전문  서울특별시   서초구    방배동     5
4  20181001  월    0  음식점-족발/보쌈전문  서울특별시   성동구  성수동2가     5

In [19]:
df = df[df["업종"] == "치킨"].reset_index()

In [20]:
df = df.drop(columns="업종")

In [21]:
df = df.drop(columns="index")

   index        일자 요일  시간대     시도  시군구  읍면동  통화건수
0     26  20181001  월    0  서울특별시  강남구  논현동     5
1     27  20181001  월    0  서울특별시  강남구  세곡동     5
2     28  20181001  월    0  서울특별시  강남구  삼성동     7
3     29  20181001  월    0  서울특별시  강남구  역삼동     5
4     30  20181001  월    0  서울특별시  강서구  등촌동     5

In [46]:
df.to_csv("./data/data.csv")